*.project
*.cproject
*.settings/
.vscode/
*.launch

*.elf
*.map
*.bin
*.hex
*.lst
*.d

*.o
*.obj
*.a
*.axf
*.log
*.su
*.d
*.dep

/Debug/
/Release/
/build/
/out/

*.ioc
MX_*

*.bak
*.swp
*.swo
*.swd
*.zip

*.ide
*.log

.DS_Store
Thumbs.db